@using Microsoft.AspNet.Identity
@using CuaHangSach.Models;
@if (Session["KhachHang"] != null)
        {
            KHACHHANG kh = (KHACHHANG)Session["KhachHang"];
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a>Chào: @kh.TenKhachHang</a>
        </li>
        <li><a href="/KhachHang/DangXuat">Đăng xuất</a></li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/KhachHang/DangKy">Đăng ký</a></li>
        <li><a href="/KhachHang/DangNhap">Đăng nhập</a></li>
    </ul>
}
