@using CuaHangSach.Models;
@{
    ViewBag.Title = "Test2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test2</h2>

@{ 
    int i = (int)Session["kt"];
    Output.Write(i.ToString());

    List<SACH> lstSach = (List<SACH>)Session["GioHang"];
    foreach(SACH s in lstSach)
    {
        Output.WriteLine(s.TenSach);
    }
}
