
@{
    ViewBag.Title = "Đăng ký";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Đăng ký</h2>
@{ 
    if(ViewBag.KiemTra != null)
    {
        string kiemtra = ViewBag.KiemTra;
        if (kiemtra.Equals("-1"))
        {
            Output.WriteLine("Tài khoản đã tồn tại");
        }
        else
        {
            Output.WriteLine("Đăng ký tài khoản thành công");
        }
    }
}
<form action="" method="post">
    @Html.AntiForgeryToken()
    <table class="table table-bordered">
        <tr>
            <th>Tài khoản</th>
            <td>
                <input class="form-control" id="taikhoan" name="taikhoan" value="" type="text" />
            </td>
        </tr>
        <tr>
            <th>Mật khẩu</th>
            <td>
                <input class="form-control" id="matkhau" name="matkhau" value="" type="password" />
            </td>
        </tr>
        <tr>
            <th>Họ và tên</th>
            <td>
                <input class="form-control" id="hoten" name="hoten" value="" type="text" />
            </td>
        </tr>
        <tr>
            <th>Điện thoại</th>
            <td>
                <input class="form-control" id="dienthoai" name="dienthoai" value="" type="text" />
            </td>
        </tr>
        <tr>
            <th>Email</th>
            <td>
                <input class="form-control" id="email" name="email" value="" type="text" />
            </td>
        </tr>
        <tr>
            <th>Ngày sinh</th>
            <td>
                <input class="form-control" name="ngaysinh" value="1997-01-01" type="date" />
            </td>
        </tr>
        <tr>
            <th>Giới tính</th>
            <td>
                <select name="gioitinh" class="form-control">
                    <option value="0">Nam</option>
                    <option value="1">Nữ</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>Địa Chỉ</th>
            <td>
                <input class="form-control" id="diachi" name="quequan" value="" type="text" />
            </td>
        </tr>
        <tr>
            <th></th>
            <td>
                <input class="btn btn-info" onclick="return checkEmptyDangKy()" name="dangky" value="Đăng ký" type="submit" />
            </td>
        </tr>
    </table>
</form>

